#desc {
    height: 150px;
    width: 400px;
    padding-top: 0;
    padding-left: 0;
}

.about {
    height: 100%;
    width:1000px;

    text-align: center;
    
    top:70px;
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.about #paragraph{
    text-align: justify;
}

.about #section #paragraph-image{
    float: left;
    
}