html, body {
    height: 100%;
}

.about {
    height: 100%;
    
}

.about #header{
    margin: 0 auto;
    text-align: center;
    padding: 90px;
    margin-bottom: 150px;
}

.about #section {
    margin: 0 auto;
    text-align: center;
}