.add {
    margin-top: 20px;
    margin-left: 960px;
    margin-bottom: 20px;
}

.Product{
    height:100%;
}

.Product .btn{
    margin-bottom: 10px;
}

.AddModalClass{
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
}

.AddOverlay{
    position: fixed;
    inset: 0px;
    background-color: rgba(255, 255, 255, 0.75);
}